.vjs-big-play-button, .vjs-control-bar { z-index: 999 !important; }
.video-player-section { margin-bottom: 20px; }
.video-heading { text-align: center; }
ul#pills-tab { margin: auto 0px !important; }
#pills-tab a.nav-link { 
  font-size: 15px !important;
  color: #fff !important; 
}
#pills-tab li { list-style-type: none !important; }
#pills-tab a.nav-link:not(.active) { background-color: rgb(106,106,106, 0.7); }
#pills-tab .nav-item { margin-right: 10px; }